body{
			background-image: url("Untitled design (2).png");
			background-size: cover;
			background-attachment: fixed;
		}
.word-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

		}
		.logo{
		width:20%;
		height:10%;
		margin-left:50px;
		margin-right:50px;
	}
.container{
	position:relative;
	width:900px;
	height:250px;
}

		.wrapper {
    max-width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 1rem;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #c41313;
}
.header-cont {
    max-width: 100%;
    margin: 0 auto;
    background:white;
		color: black;
    position: none;
    top: 0;
    left: 0;
    right: 0;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);*/
    /* background: ; */
    padding-bottom: 0;
    background: black;
}

#header h1 {
    padding: 0;
    margin: 0;
}
.header-cont .h1{
	text-color: #ffffff;
}
#nav-bar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#nav-bar ul li {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.4rem;
}
#nav-bar ul li a {
    text-decoration: none;
    color: #ffffff;
}
#nav-bar ul li a:hover {
    color: #ed0000;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	padding-top:0px;
	padding:25px;
}
.row{
  color:black;
}
.image{
	max-width:100%;
	display:block;
	height:auto;
	margin-bottom:150px;
	margin-left:adjust;
}
.text{
	color:green;
	text-align : center;
	padding:10px;
	font-size: 200%;
}
#about{
	padding-top:650px;
}


    #header {
        display: block;
        text-align: center;
        padding-bottom: 0px;
        border-bottom: none;
        background:black;
    }
		.fa {
		  padding: 10px;
		  font-size: 30px;
		  width: 50px;
		  text-align: center;
		  border-radius: 8px;
		}

		/* Add a hover effect if you want */
		.fa:hover {
		  opacity: 0.7;
		}

		/* Set a specific color for each brand */

		/* Facebook */
		.fa-facebook {
		  background: black;
		  color: white;
		}

		/* Twitter */
		.fa-twitter {
		  background:black;
		  color: white;
		}

		/* Instagram */
		.fa-instagram {
		  background:black;
		  color: white;
		}
		.pic1{
			max-width:100%;
			display:block;
			height:auto;
			margin-bottom:50px;
			margin-left:adjust;
		}
		.pic2{
			max-width:100%;
			display:block;
			height:auto;
			margin-bottom:50px;
			margin-left:adjust;
		}
		.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	padding-top:0px;
	padding:5px;
}
		.container{
	position:relative;
	width:800px;
	height:600px;
	display : flex;
	flex-direction : row;
	justify-content : space-around;
	flex-flow : wrap;
}
.container .box{
	position:relative;
	width:calc(800px - 30px);
	height:calc(600px - 30px);
	background:white;
	float:left;
	margin:15px;
	margin-left:230px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
	border:5px solid red;
	display : flex;
	flex-direction : row;
	justify-content : space-around;
	flex-flow : wrap;
}
.container .box2{
	position:relative;
	width:calc(800px - 30px);
	height:calc(400px - 30px);
	background:white;
	float:left;
	margin:15px;
	margin-left:230px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
	border:5px solid red;
	display : flex;
	flex-direction : row;
	justify-content : space-around;
	flex-flow : wrap;
}
@media screen and (max-weight: 1200px) {
	 .box {
		 width:40%;
		font-size-adjust: auto;
	}
	.box2 {
		width:40%;
	 font-size-adjust: auto;
 }
}
@media screen and (max-weight: 600px) {
	 .box {
		 width:90%;
		font-size-adjust: auto;
	}
	.box2 {
		width:90%;
	 font-size-adjust: auto;
 }
}
</style>

